#contactlist .contacts{
  width:90%;
  padding-top: 100px;
}
#contactlist .contacts ul{
  list-style-type: none;
   padding: 0px;
}
#contactlist .contacts ul li{
  padding-top:40px;
  padding-left: 40%;
}
#contactlist .contacts ul li a:link,#contactlist .contacts ul li a:visited{
  text-decoration: none;
  color:white;
  font-weight: bold;
  border:1px solid #1b6b6f;
  padding: 5px;
}
#contactlist .contacts ul li a:hover{
   background-color:black; 
}
#c1:hover{
  transform: scaleY(1.3);
  transition: transform 0.5s;
}