/* #skilllist{
  border:1px solid #1b6b6f;  
  height:300px;
  margin-top: 150px;
  margin-left: 350px;
  margin-right: 500px;
} */
#skillslist1 .skills1{
  width:100%;
  float: left;
  margin-top: 5px;
  position: absolute;
  top:40%; 
  left:38%;  
}
 #skillslist1 .skills1 ul{
  list-style-type: none;
   padding: 0px;
}
#skillslist1 .skills1 ul li{
  float:left;
  padding-left:20px;
}
#skillslist1 .skills1 ul li a:link,#skillslist1 .skills1 ul li a:visited{
  text-decoration: none;
  color:white;
  font-weight: bold;
  border:1px solid #1b6b6f;
  padding: 5px;
}
#skillslist1 .skills1 ul li a:hover{
    background-color: #1b6b6f; 
}

#skillslist2 .skills2{
  width:100%;
  float: left;
  margin-top: 5px;
  position: absolute;
  top:48%; 
  left:35%;  
}
 #skillslist2 .skills2 ul{
  list-style-type: none;
   padding: 0px;
}
#skillslist2 .skills2 ul li{
  float:left;
  padding-left:20px;
}
#skillslist2 .skills2 ul li a:link,#skillslist2 .skills2 ul li a:visited{
  text-decoration: none;
  color:white;
  font-weight: bold;
  border:1px solid #1b6b6f;
  padding: 5px;
}
#skillslist2 .skills2 ul li a:hover{
   background-color: #1b6b6f;
}
#skillslist3 .skills3{
  width:100%;
  float: left;
  margin-top: 5px;
  position: absolute;
  top:56%; 
  left:35%;  
}
 #skillslist3 .skills3 ul{
  list-style-type: none;
   padding: 0px;
}
#skillslist3 .skills3 ul li{
  float:left;
  padding-left:70px;
}
#skillslist3 .skills3 ul li a:link,#skillslist3 .skills3 ul li a:visited{
  text-decoration: none;
  color:white;
  font-weight: bold;
  border:1px solid #1b6b6f;
  padding: 5px;
}
#skillslist3 .skills3 ul li a:hover{
   background-color: #1b6b6f;
}


 



 



 



 
