* {
  box-sizing: border-box;
}
body{
  background-color:black; 
  color:white;
  /* font-family:poppins; */
  font-family: poppins;
  font-size: 20px;
}
#navbar{
  height:70px;
  /* background-color:#e8dff5; */
}
#navbar .navbar-brand{
  width:8.2%;
  float: left;
  font-weight: bold;
  padding-top: 20px;
  border:1px solid #1b6b6f;
  padding: 5px;
  margin-top: 15px;
  margin-left: 20px;
}
#navbar .nav{
  width:90%;
  float: left;
  margin-top: 5px;
  padding-left: 350px; 
}
#navbar .nav ul{
  list-style-type: none;
   padding: 0px;
}
#navbar .nav ul li{
  float:left;
  padding-left:20px;
}
#navbar .nav ul li a:link,#navbar .nav ul li a:visited{
  text-decoration: none;
  color:white;
  font-weight: bold;
  border:1px solid #1b6b6f;
  padding: 5px;
}
#navbar .nav ul li a:hover{
   background-color: black; 
}
#logout{
 display: flex;

}
#intro {
  position: absolute;
  top: 45%;
  left: 45%;
  text-transform: uppercase;
}
.intro {
  font-weight: bold;
}
#intro1{
  position: absolute;
  top:87%;
  left:-35%;
  font-weight: bold;
  color:white;
  border:1px solid #1b6b6f;
  padding:5px;
}
#intro1:hover{
  transform: scale(1.2);
  transition: transform 0.5s; 
  background-color: #1b6b6f; 
}
li:hover{
  transform: scale(1.2);
  transition: transform 0.5s;
}
#about1 {
  position: absolute;
  top: 78%;
  left: 5%;
  text-transform: uppercase;
}
#about2{
  position: absolute;
  top: 83%;
  left: 25%;
  text-transform: uppercase;
}
.sidebarmenu{
  list-style-type: none;
}
.submenu{
  position:absolute;
  left:52%;
  top:3%
}
.sidebarmenu>li>a:link,
.sidebarmenu>li>a:visited{
  color:white;
  text-decoration: none;
  width:100%;
  display:inline-block;
  padding: 5px;
  line-height: 18px;
}
.submenu a{
  border: 1px solid #1b6b6f;
}
.sidebar .submenu>ul>li>a:link,
.sidebar .submenu>ul>li>a:visited{
  background-color: black;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  padding:10px;
  color: white;
  line-height: 30px;
}
.sidebar .submenu>ul>li>a:hover
{
   background-color:rgb(7,120,120); 
  color:black;
  border-left: 3px solid black;
}
.sidebar .submenu>ul{
 list-style-type: none;
 display: none;
}
.indicator{
  float:right;
  font-size: 0.9em;
  line-height: 10px;
}
#submenu{
  transform:none;
}
#n1,#n2,#n3,#n4,#n5,#n6{
  transform:none;
}
.contactbarmenu{
  list-style-type: none;
}
.contactmenu{
  position:absolute;
  left:76%;
  top:3%
}
.contactbarmenu>li>a:link,
.contactbarmenu>li>a:visited{
  color:white;
  text-decoration: none;
  width:100%;
  display:inline-block;
  padding: 5px;
  line-height: 18px;
  transition: all 0.3s;
}
.contactmenu a{
  border: 1px solid #1b6b6f;
}
.contactbar .contactmenu>ul>li>a:link,
.contactbar .contactmenu>ul>li>a:visited{
  background-color: black;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: white;
  line-height: 30px;
  padding:10px;
  transition: all 0.5s;
}
.contactbar .contactmenu>ul>li>a:hover
{
   background-color:rgb(7,120,120); 
  color:black;
  border-left: 3px solid black;
}
.contactbar .contactmenu>ul{
 list-style-type: none;
 display: none;
}
.indicator1{
  float:right;
  font-size: 0.8em;
  line-height: 10px;
}
#contactmenu{
  transform:none;
}

